@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Teko:wght@300..700&display=swap');
body{
    background-image: url('./images/fondo7.jpg');
}
img{
    width: 50%;
}
.btn-group{
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
header{
    display: flex;
    justify-content: space-between;
}
label{
    font-family: "Montserrat", sans-serif;
}